$document-font-size:         16px !default;
$document-line-height:       24px !default;
$document-color:             #222 !default;
$document-background-color:  #fff !default;

body {
  @include font-size($document-font-size, $document-line-height);

  color: $document-color;
  background-color: $document-background-color;
}
